@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600px       : Phone
600 - 900px     : Tablet Potrait
900 - 1200px    : Tablet Lanscape
(1200 - 1800) is where our normal styles apply
1800px + :       Big dekstop
*/

// @mixin respond-phone {
//     @media(max-width: 600px) {
//         @content
//     }
//     ;
// }

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

// Convert 1em =16px
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        //600/16 = 37.5em atau 600px
        @media (max-width: 37.5em) {@content};
    }
    @if $breakpoint==tab-port {
        //900/16 = 56.25em atau 900px
        @media (max-width: 56.25em) {
            @content};
    }
    @if $breakpoint==tab-land {
        //1200/16 = 75em atau 1200px
        @media (max-width: 75em) {
            @content};
    }
    @if $breakpoint==big-dekstop {
        //1800/16 = 112.5em atau 1800px
        @media (min-width: 112.5em) {
            @content};
    }
}